.background{
    background-image: url("../assets/hero_banner.jpg");
    background-position: center;
    background-size: cover;
    height:100vh;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}