.background_2{
    background-image: url("../assets/background_banner.jpg");
    height:100vh;
    background-size: cover;
    background-position: center;
}
input{
    border:none;
    outline: none;
}
input::placeholder{
    color:rgba(128, 128, 128, 0.952)
}